.blurred {
    backdrop-filter: blur(4px);
}

.card-flip {
    perspective: 1000px;
}

.flip {
    transform-style: preserve-3d;
    transition: 0.6s;
    display: grid;
    grid-template: 1fr / 1fr;
}

.front {
    backface-visibility: hidden;
    grid-area: 1 / 1 / 2 / 2;
}

.back {
    backface-visibility: hidden;
    grid-area: 1 / 1 / 2 / 2;
    transform: rotateY(180deg);
}

.card-flip.flipped .flip {
    transform: rotateY(180deg);
}
